{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">User Details</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">User Name</th>
              <td>{{ object.user_name }}</td>
            </tr>
            <tr>
              <th scope="row">Project</th>
              <td>{{ object.project|linkify }}</td>
            </tr>
            <tr>
              <th scope="row">Phone</th>
              <td>{{ object.phone }}</td>
            </tr>
            <tr>
                <th scope="row">Mail</th>
                <td>{{ object.mail }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ object.address }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
